{% extends "base.html" %}

{% block title %}
Welcome - Pet Marketplace
{% endblock %}

{% block content %}
<div class="center">
    <div id="intro">
        <h1>Welcome to the Pet Marketplace</h1>
        <p>Please, enter your full name below to enter</p>
    </div>
    <!-- Form to allow user to enter full name and enter into home page -->
    <form action="{{url_for('view.welcome')}}" method="POST" style="margin: 50px">
        <label for="fullname">Full Name:</label>
        <input type="text" id="fullname" name="fullname" required>
        <input type="submit" value="Enter"><br><br>
        <small class="note">Enter the name of the admin for admin panel</small>
    </form>
</div>
{% endblock %}